body {
  font-family: Helvetica;
  text-align: center;
  color: black;
}
h1, h2 {
  font-weight: bold;
}
h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-size: 70px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 14px;
}
p {
  color: white;
  font-size: 18px;
}
#design {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}
.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
